body{
	background-color: #F5F5F5;
}

/* HEADER */
.header-image{
	background: #000;
	background-size: cover;
}

.title-wrap{
	margin: 0 auto;
	width:50%;
	background: rgba(0, 0, 0, 0.8);
}

.header-image h1,
.header-image p{
	color: #fff;
}

.header-image h1{
	font-size: 6.5em;
}

.header-image p{
	font-size: 3em;
	margin-top: 20px;
}

/* ABOUT ME SECTION */
.alex-pic{
	border: 6px solid lighten($primary-color, 5%);
}

#about_me{
	padding: 75px 0;
}

#about_me p{
	font-size: 1.5em;
}

/* SKILL SECTION */
[class*=" devicon-"],
[class^=devicon-]{
	font-size: 5.5em;
	color: #fff;
}

#skills{
	padding: 75px 0;
	background-color: #2F2F2F;
	background: url("../img/patterns/congruent_outline.png");
		/*========================================================
		 This pattern is downloaded from www.subtlepatterns.com 
		 If you need more, that's where to get'em.
		========================================================*/
	color: #fff;
}

.front-end-list,
.back-end-list,
.tools-list{
	list-style-type: none;
}

.front-end-list > li,
.back-end-list > li,
.tools-list > li{
	display: inline-block;
	margin: 20px 10px;
	background: rgba(0,0,0, 0.5);
	box-shadow: 0 0 10px #550000;
	transition: box-shadow 1.2s;
	cursor: pointer;
}

.front-end-list > li:hover,
.back-end-list > li:hover,
.tools-list > li:hover{
	box-shadow: 0 0 40px #0B6E0B;
}

.skill-trigger{
	display: block;
	padding: 15px 25px;
}

.skill-modal-title{
	font-size: 3.5em;
	padding-top: 20px;
}

#skill-modal-itag{
	color: $primary-color;
}

.skill-modal-description{
	font-size: 1.5em;
}

/* PROJECTS SECTION */
.project{
	padding: 30px 0 10px 0 !important;
	cursor: pointer;
}

#project-modal p{
	font-size: 1.6em;
}

.proj-link-wrap{
	margin: 8px 0;
}

.project-site-url,
.project-code-url{
	color: $primary-color;
	font-size: 1.4em;
	font-weight: 500;
}

.project-site-url:hover,
.project-code-url:hover{
	color: lighten($primary-color, 15%);
}

.fa-hand-o-right,
.fa-code{
	color: $primary-color;
	font-size: 1.4em;
	padding-right: 10px;
}

/* FOOTER */
footer{
	background: $primary-color;
	position: absolute;
	width: 100%;
	color: #fff;
}