body{
	background-color: #FFF5D5;
	/*background-color: #3E3E3E;*/
}

[class*=" devicon-"],
[class^=devicon-]{
	font-size: 7em;
	color: #fff;
}

#about_me{
	padding: 75px 0;
}

#skills{
	padding: 75px 0;
	background-color: #2F2F2F;
	background: url("../img/patterns/use_your_illusion.png");
		/*========================================================
		 This pattern is downloaded from www.subtlepatterns.com 
		 If you need more, that's where to get'em.
		========================================================*/
	color: #fff;
}

.front-end-list,
.back-end-list,
.tools-list{
	list-style-type: none;
}

.front-end-list > li,
.back-end-list > li,
.tools-list > li{
	display: inline-block;
	margin: 20px 10px;
	padding: 15px 25px;
	background: rgba(0,0,0, 0.7);
}

footer{
	background: $primary-color;
	position: absolute;
	width: 100%;
	color: #fff;
}